body {
  font-family: "Roboto";
  position: absolute;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section,
header,
footer {
  outline: solid red;
}

header .container {
  height: 80px;
  display: flex;
  align-items: center;
}
.heder-list {
  display: none;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .heder-list {
    display: flex;
  }
}

.heder-page {
  margin-right: 55px;
}
@media screen and (min-width: 1200px) {
  .contacts-item {
    margin-right: 50px;
  }
}

.contacts-list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

.logo {
  font-family: "Raleway";
  font-style: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-color {
  color: black;
}

.heder-link {
  font-style: medium;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  color: #212121;
  fill: #757575;
  /* transition-property:color;
  transition-duration:250ms;
  transition-timing-function:linear;
  transition-delay:250ms; */
  transition: color 250ms linear 250ms;
}
.heder-link:hover {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-link {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  color: #757575;
  /* transition-property:color;
  transition-duration:250ms;
  transition-timing-function:linear;
  transition-delay:250ms; */
  transition: color 250ms linear 250ms;
}

.contacts-link:hover {
  color: #2196f3;
}

.contacts-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  /* transition-property:color;
  transition-duration:250ms;
  transition-timing-function:linear;
  transition-delay:250ms; */
  transition: color 250ms linear 250ms;
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
}
.mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .mobile-backdrop {
    display: none;
  }
}

.mobile-backdrop.is-hidden {
  opacity: 0;
}

.mobile-modal {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/heroimage.png);
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 280px;
  }
}

.hero-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 44px;
  }
}

.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.coments-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.coments-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.cometns-item {
  width: 270px;
}

.cometns-item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.cometns-item:nth-child(1)::before {
  background-image: url(../../images/antenna\ 1.png);
  background-size: 70px 70px;
}

.cometns-item:nth-child(2)::before {
  background-image: url(../../images/clock\ 1.png);
  background-size: 70px 70px;
}

.cometns-item:nth-child(3)::before {
  background-image: url(../../images/diagram\ 1.png);
  background-size: 70px 70px;
}

.cometns-item:nth-child(4)::before {
  background-image: url(../../images/astronaut\ 1.png);
  background-size: 70px 70px;
}

.coments-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.coments-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-item {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}

.team-foto {
  width: 450px;
  border-radius: 0px;
}
@media screen and (min-width: 768px) {
  .team-foto {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-foto {
    width: 270px;
  }
}

.team-item:last-child {
  margin-right: 0;
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .team-name {
    width: 270px;
  }
}

.team-coment {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.madal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* display: none;     */
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.medal-hero {
  width: 448px;
  height: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.medal-text {
  margin-left: 40px;
  width: 22px;
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.icon-medal {
  width: 18px;
  height: 18px;
}

.medal-textarea {
  padding-left: 40px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121 20%;
  border-color: #212121 20%;
}

.medal-condition {
  color: #757575;
}

.medal-coment-textaera {
  margin-left: 40px;
  resize: none;
  box-sizing: border-box;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.medal-button {
  border: none;
  width: 200px;
  height: 50px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
}

.work-section {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
  }
}

.work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.work-item {
  position: relative;
}

/* .work-foto{

} */
.positioning-item {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.icon-elipce {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.icon-list {
  display: flex;
  justify-content: center;
}

.icon-item {
  margin-right: 10px;
}

.footer {
  background: #2f303a;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-color {
  color: white;
}

.footer-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.reklam-text {
  width: 116px;
  height: 16px;
  left: 516px;
  top: 2749px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.reklam-container {
  margin-left: 70px;
}

.footer-reklam {
  width: 116px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 50px;
  justify-content: center;
}

/* .button-item{

}   */
.button-button {
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 8px;
  background: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  /* padding-left:24px;
  padding-right:24px;
  padding-top:6px;
  padding-bottom:6px; */
  /* padding: 6px 24px 6px 24px; */
  padding: 6px 24px;
}

.button-button:hover {
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-right: 8px;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  /* padding-left:24px;
  padding-right:24px;
  padding-top:6px;
  padding-bottom:6px; */
  /* padding: 6px 24px 6px 24px; */
  padding: 6px 24px;
}

.product-section {
  padding-bottom: 50px;
  padding-top: 4px;
}

.product-list {
  gap: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.product-name {
  margin-top: 20px;
}

.product-coment {
  margin-top: 4px;
  margin-bottom: 4px;
}

.footer-map {
  margin-top: 20px;
  margin-bottom: 9px;
}

footer .container {
  display: flex;
}

.client {
  width: 480px;
  height: 519px;
  left: 0px;
  top: 0px;
  margin-top: 60px;
  background: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .client {
    width: 768px;
    height: 397px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    width: 1600px;
    height: 372px;
    margin-top: 94px;
  }
}

.client-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.client-item {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */