section,
header,
footer {
  outline: solid red;
}

header .container {
    height: 80px;
    display: flex;
    align-items: center;
    
    @media screen and (min-width:768px) {
      
    }
    @media screen and (min-width:1200px) {
      
    }
  }
  
  .heder-list {
    display: none;
    margin-left: 93px;
    @media screen and (min-width:768px) {
      display: flex;
    }
  }
  
  
  
  .heder-page {
    margin-right: 55px;
    @media screen and (min-width:768px) {
      
    }
    @media screen and (min-width:1200px) {
      
    }
  }
  
  .contacts-item {
    @media screen and (min-width:1200px) {
      margin-right: 50px;
    }
  }
  
  .contacts-list {
    display: none;
    margin-left: auto;
    @media screen and (min-width:768px) {
      display: block;
    }
    @media screen and (min-width:1200px) {
      display: flex;
    }
  }
  
  .logo {
    font-family: "Raleway";
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    @media screen and (min-width:768px) {
      
    }
    @media screen and (min-width:1200px) {
      
    }
  }
  
  .header-color {
    color: black;

  }
  
  .heder-link {
    font-style: medium;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
    color: #212121;
    fill: #757575;
    /* transition-property:color;
    transition-duration:250ms;
    transition-timing-function:linear;
    transition-delay:250ms; */
    transition:color 250ms linear 250ms ;
    @media screen and (min-width:768px) {
      
    }
    @media screen and (min-width:1200px) {
      
    }
  }
  
  .heder-link:hover {
    color: #2196f3;
    fill:#2196f3;
  }
  
  .contacts-link {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
    color: #757575;
      /* transition-property:color;
    transition-duration:250ms;
    transition-timing-function:linear;
    transition-delay:250ms; */
    transition:color 250ms linear 250ms ;
  }
  
  .contacts-link:hover {
    color: #2196f3;
  }

  
  .contacts-icon {
    width: 16px;
    height: 12px;
    fill: currentColor;
      /* transition-property:color;
    transition-duration:250ms;
    transition-timing-function:linear;
    transition-delay:250ms; */
    transition:color 250ms linear 250ms ;
  }


  .header-button{
    
    @media screen and (min-width:768px) {
      display: none;
    }
    @media screen and (min-width:1200px) {

    }
  }
