.work-section {
    padding-bottom: 94px;
    display: none;
    @media screen and (min-width:1200px) {
      display: block;
    }
  }
  
  .work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  
  .work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .work-item {
    position: relative;
  }
  
  
  /* .work-foto{
  
  } */
  .positioning-item {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top:27px;
    padding-bottom:27px;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
