.product-section {
    padding-bottom: 50px;
    padding-top: 4px;
  }
  
  .product-list {
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
  }
  
  .product-name {
    margin-top: 20px;
  }
  
  .product-coment {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .footer-map {
    margin-top: 20px;
    margin-bottom: 9px;
  }